Header set X-Robots-Tag "noindex, nofollow"

Header set Access-Control-Allow-Headers "*"
Header set Access-Control-Allow-Methods "*"
Header set Access-Control-Allow-Origin "*"

Options -MultiViews -Indexes

RewriteEngine On

# redirect /path/file.html to /path/file

RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.html [NC]
RewriteRule ^ %1 [R,L]

# redirect any call to index.html

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [L]
